################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/CommunitySafety_API/.idea/.idea.CommunitySafety_API/.idea
